<h2><%= @list.name %></h2>

<% index = 0 %>
<% @tasks.each do |task| %>
  <p><%= task.description %><p>
    <form name="<%=task.id%>" action="/my_list/<%=@list.id%>/<%=task.id%>" method="post">
      <input name="_method" type="hidden" value="delete">
      <button type="submit"  name="delete-<%=index%>">Delete!</button>
    </form>

  <%index+=1%>
<% end %>

<!-- onclick=task.delete" -->

<form action="/my_list/<%=@list.id%>" method="post">
  <label for="new-task">Enter task description:</label>
  <input type="text" name="new-task" placeholder="New task name">
  <button type="submit" name="new-task-btn">Submit!</button>
</form>


<a href="/">Home</a>
